# ===== Output / Artifact =====
outputs/
runs/
checkpoints/
weights/
logs/
wandb/
dataset/
datasets/
results/
output/
imagenette/
pre_trained/

# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Env =====
.env
.venv/
venv/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/

# ===== Etc ====
*.pt
*.ckpt
*.onnx
*.log
*.csv
*.sqlite
*.db
*.zip
*.tar.gz
*.egg-info/
/dist
/build
.eggs/
*.egg

# ===== claude & gemini ====
CLAUDE.md
*.claude
GEMINI.md

# ===== google drive desktop ====
.tmp.drivedownload
.tmp.driveupload